<div id="cc-tp-header">

  <div id="emotion-header" style="background: #EEF800;width: 864px; height: 200px;">
    <a href="http://www.everybodycanswim.com/" style="border: 0; text-decoration: none; cursor: pointer;">
      <img src="/images/header.jpg" id="emotion-header-img" alt="">
      <strong id="emotion-header-title" style="left: 2%;top: 58%;font: normal bold 53px/120% 'Shadows Into Light', cursive;color: #FFFFFF;">Everybody Can Swim</strong>
    </a>
  </div>

  <div>
    <ul id="mainNav1" class="mainNav1">
      <li><a href="/index.html" class="level_1"><span>Home</span></a></li>
      <li><a href="/about-me/index.html" class="level_1"><span>About Me</span></a></li>
      <li><a href="/classes/index.html" class="level_1"><span>Classes</span></a></li>
      <li><a href="/scheduling-and-payment/index.html" class="level_1"><span>Scheduling and Payment</span></a></li>
      <li><a href="/reviews/index.html" class="level_1"><span>Reviews</span></a></li>
      <li><a href="/contact-me/index.html" class="level_1"><span>Contact Me</span></a></li>
    </ul>
  </div>
</div>
