<div id="cc-tp-sidebar">
  <div>
    <div class="j-module n j-header">
      <h2>Text or Call</h2>
    </div>
    <div class="j-module n j-text">
      <p>916-952-3302<br></p>
    </div>
    <div class="j-module n j-header">
      <h2>Email</h2>
    </div>
    <div class="j-module n j-text">
      <p><a href="mailto:erin@everbodycanswim.com">erin@everybodycanswim.com</a></p>
    </div>
    <div class="j-module n j-header">
      <h2>Share</h2>
    </div>
    <div class="j-module n j-sharebuttons">
      <div class="cc-sharebuttons-element cc-sharebuttons-size-32 cc-sharebuttons-style-colored cc-sharebuttons-design-square cc-sharebuttons-align-left">
        <div class="cc-sharebuttons-element-inner">
          <a class="cc-sharebuttons-facebook" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.everybodycanswim.com%2F&amp;t=Everybody%20Can%20Swim%21" title="Facebook" target="_blank"></a>
          <a class= "cc-sharebuttons-twitter" href="http://twitter.com/share?text=Everybody%20Can%20Swim%21&amp;url=http%3A%2F%2Fwww.everybodycanswim.com%2F" title="Twitter" target="_blank"></a>
          <a class= "cc-sharebuttons-googleplus" href="https://plus.google.com/share?url=http%3A%2F%2Fwww.everybodycanswim.com%2F" title="Google+" target="_blank"></a>
          <a class="cc-sharebuttons-mail" href="mailto:?subject=Everybody%20Can%20Swim%21&amp;body=http%3A%2F%2Fwww.everybodycanswim.com%2F" title="Email" target=""></a>
          <a class="cc-sharebuttons-linkedin" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fwww.everybodycanswim.com%2F&amp;title=Everybody%20Can%20Swim%21" title="LinkedIn" target="_blank"></a>
        </div>
      </div>
    </div>
    <div class="j-module n j-imageSubtitle">
      <img src="/images/left-rail.jpg" />
    </div>
  </div>
</div>
